# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

__pycache__/
.benchmarks/
.cache/
.coverage*
.DS_Store
.env*
.hypothesis/
.ipynb_checkpoints/
.mypy_cache/
.pdbrc
.pytest_cache/
.ruff_cache/
.tox/
.venv/
*.bak
*.egg-info/
*.ipynb
*.log
*.py[oc]
*.swp
*.tar.gz
*.whl
/.vendor/
/build/
/doc/index.md
/doc/src/user/cli.md
dist/
f1
node_modules/
nohup.out
package-lock.json
poetry.lock
site/
tmp/
