# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

__pycache__/
.cache/
.coverage*
.DS_Store
.env*
.ipynb_checkpoints/
.mypy_cache/
.pdbrc
.pytest_cache/
.tox/
.venv/
.vscode/
*.egg-info/
*.pyc
/docs/index.md
/docs/src/user/cli.md
/tmp/
dist/
node_modules/
nohup.out
package-lock.json
site/
