# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

__pycache__/
.cache/
.coverage*
.DS_Store
.env*
.ipynb_checkpoints/
.mypy_cache/
.pdbrc
.pytest_cache/
.ruff_cache/
.tox/
.venv/
.vscode/
*.bak
*.egg-info/
*.log
*.py[oc]
*.tar.gz
*.xml
/.vendor/
/build/
/doc/index.md
/doc/src/user/cli.md
/tmp/
dist/
node_modules/
nohup.out
package-lock.json
poetry.lock
site/
