.benchmarks/
.cache/
.coverage
.DS_Store
.env
.git/
.github/
.gitignore
.hypothesis/
.mypy_cache/
.pre-commit-config.yaml
.pytest_cache/
.python-version
.tox/
.venv/
.vscode/settings.json
*.ipynb
*.pyc
*.swp
*.tar.gz
*.whl
**/__pycache__/
**/.ipynb_checkpoints/
**/*.egg-info/
dist/
environment.yml
f1
flit.ini
node_modules/
nohup.out
package-lock.json
Pipfile
Pipfile.lock
public/
requirements.lock
requirements.txt
setup.py
site/
