# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

.benchmarks/
.cache/
.coverage
.DS_Store
.env
.hypothesis/
.mypy_cache/
.pytest_cache/
.python-version
.tox/
.venv/
.vscode/settings.json
*.ipynb
*.pyc
*.swp
*.tar.gz
*.whl
**/__pycache__/
**/.ipynb_checkpoints/
**/*.egg-info/
/docs/api/cli.md
/docs/index.md
dist/
environment.yml
f1
flit.ini
node_modules/
nohup.out
package-lock.json
Pipfile
Pipfile.lock
public/
requirements.lock
requirements.txt
setup.py
site/
