# Prettier configuration file for ignoring paths.
#
# For more information, visit https://prettier.io/docs/en/ignore.html.

__pycache__/
.benchmarks/
.cache/
.git/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.tox/
.venv/
*.egg-info/
*.ipynb
*.min.js
*.py
*.pyc
node_modules/
package-lock.json
poetry.lock
site/
